
.bar_star {
    width: 150px;
}

.bar_star i {
    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
    
}

.bar {
    width: 40%;
    height: 5px;
    border-radius: 1.2rem;
    

}

.bar.white {
    background-color: white;
}

.bar.black {
    background-color: black;
}